.boton-activo{
    width: 150px;
    padding: 8px;
    margin-right: 20px;
    color: #2271D1;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #2271D1;
    box-shadow: inset 0px 0px 12px 4px #2271D1;
    border-radius: 10px;
    text-transform: uppercase;
}
.boton{
    width: 150px;
    padding: 8px;
    margin-right: 20px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-guardar{
    color: #2271D1;
    border: 2px solid #2271D1;
}
